.add {
    width: 85%;
    margin: auto;
    text-align: center;
    height: 35px;
    color: cornsilk;
    background-color: rgb(51, 51, 53);
    border: none;
    font-size: 1.5em;
    margin-bottom: 1%;
}
.add:hover {
    background-color: rgb(53, 43, 43);
}
#form {
    margin-top: 1%;
    color: cornsilk;
    text-align: center;
}
