#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 2%;
    row-gap: 15px;
}
.noFound {
    color: #ff6516;
    width: 50%;
    margin: auto;
    border: 2px solid #ff6516;
    vertical-align: middle;
    height: 100px;
    padding: auto;
    margin-top: 5%;
}
