img {
    width: 240px;
    height: 280px;
}
#card {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-color: #151515;
    color: cornsilk;
    height: 370px;
    position: relative;
}
#card * {
    font-weight: lighter;
}
#card:hover {
    box-shadow: 1px 1px 10px #727272;
    color: #ff6516;
    transition: width 2s, height 4s;
}

.stars {
    display: flex;
    justify-content: center;
    margin: 1px;
}
.name {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
h3 {
    margin: 1px;
    font-size: 1.1em;
}
.overview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 280px;
    color: #dfdfdf;
    background-color: rgb(68, 68, 68);
    opacity: 0.9;
    overflow-y: auto;
    text-align: left;
    z-index: 1;
}
.overviewText {
    display: block;
    margin: 5%;
    height: 70%;
    font-size: 0.65em;
    text-justify: newspaper;
}
.overview:hover {
    cursor: pointer;
}
