img {
    width: 270px;
    height: 400px;
    border-radius: 2%;
}
#card {
    width: max-content;
    text-align: center;
    background-color: rgb(24, 24, 24);
    color: cornsilk;
    border-radius: 10px;
    padding: 1%;
    margin: 1% auto;
}
#card:hover {
    box-shadow: 2px 2px 10px cornsilk;
}
