#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}
.noFound {
    color: blanchedalmond;
    width: 50%;
    margin: auto;
    border: 2px solid whitesmoke;
    vertical-align: middle;
    height: 100px;
    padding: auto;
}
